FROM {{ base_image }}

# Running ansible playbook
RUN yum clean all && \
    yum update -y && \
    cd /tmp && \
    git clone {{ ansible['url'] }} ansible && \
    cd /tmp/ansible && \
    git checkout {{ ansible['branch'] }} && \
    ANSIBLE_HACKS="--extra-vars='ansible_user=root'" ./run targets {{ playbook }} inventories/localhost.yml --localhost --upgrade && \
    yum clean all && \
    rm -rf /var/cache/yum /tmp/*

COPY docker_image_history.* /etc
