FROM {{ base_image }}

# Update basic system packages, adds src packages repos
RUN apt-get update --fix-missing && \
    DEBIAN_FRONTEND=noninteractive \
    apt-get install -y software-properties-common && \
    DEBIAN_FRONTEND=noninteractive \
    apt-get install -y git && \
    DEBIAN_FRONTEND=noninteractive \
    apt-get install -y ansible && \
    DEBIAN_FRONTEND=noninteractive \
    apt-get upgrade -y --allow-downgrades && \
    DEBIAN_FRONTEND=noninteractive \
    apt-get install -y apt-utils && \
    apt-get clean && \
    rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*

COPY docker_image_history.* /etc
